h1 a {
    color: white;
    font-family: 'Lobster',cursive;
}
body {
    padding-left: 15px;
}
.page-header {
    background-color: #FCA205;
    margin-top: 0;
    margin-left: -20;
    margin-right: 50;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}
.contact h1,.contact span{
    color: #000000;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Gloria Hallelujah',cursive;
}

.date {
    color: grey;
}

.save {
    float: left;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FF0000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    font-weight: bolder;
    margin-bottom: 70px;
    font-family: 'Oswald',sans-serif;
}

.post h1 a, .post h1 a:visited {
    color: #FF0000;
    font-family: 'Oswald',sans-serif;

}
.glyphicon glyphicon-plus{
    color: red;
    background-color: orange;
}
.intro h3
{
    font-family: 'Oswald',sans-serif;
}
